@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.general-container{
    text-align: center;
}
.navbar{
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 100px;
    
}


.options{
    padding: 20px;
}
.options-display{
    margin: 30px auto;
    width: 300px;
    text-align: left;
    h2{
        color: black;
        letter-spacing: 2px;
        text-shadow: 2px 2px 3px #351E1E;
    }
    p{
        color: black;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: bold;
        
    }
}

.lightsaber-picture{
    height: 100px;
}

.planet-display{
    width: 300px; 
    margin: 0 auto;
    text-align: left;
    p{
        color: black;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: bold;
        
    }
}

