@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    border: black solid 1px;
    ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        
    }
}

.options{
    padding: 20px;
}

.lightsaber-picture{
    height: 100px;
    
}
// // lightsaber animation 
// .lightsaber-picture {
// 	-webkit-animation: lightsaber-picture 1s ease-out both;
// 	        animation: lightsaber-picture 1s ease-out both;
// }
// @-webkit-keyframes lightsaber-picture {
//     0% {
//       -webkit-transform: rotate(0);
//               transform: rotate(0);
//     }
//     100% {
//       -webkit-transform: rotate(360deg);
//               transform: rotate(360deg);
//     }
//   }
//   @keyframes lightsaber-picture {
//     0% {
//       -webkit-transform: rotate(0);
//               transform: rotate(0);
//     }
//     100% {
//       -webkit-transform: rotate(360deg);
//               transform: rotate(360deg);
//     }
//   }

// // end lightsaber animation